<div class="container">
    <form class="container" FormGroup="createForm">
    <div class="row">Firstt Name <input type="text"  FormControl="firstName"></div>
    <div class="row">Last Name <input type="text" formControlName="lastName" /></div>
    <div class="row">Login <input type="text" formControlName="login" /></div>
    <div class="row">Password <input type="text" formControlName="password" /></div>
    <div class="row">Age <input type="number" formControlName="age" /></div>
    </form>
    <div>
        <button class="btn btn-primary" (click)="createUser()">
            Submit
        </button>
    </div>
</div>
